@font-face {
  font-family: "ShareTechMono";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ShareTechMono.woff2") format("woff2");
}

@font-face {
  font-family: "Orena";
  src: url("../../fonts/Orena.woff") format("woff"),
    url("../../fonts/Orena.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neoterique";
  src: url("../../fonts/Neoterique.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MayaCulpa";
  src: url("../../fonts/MayaCulpa.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
