@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  span {
    @include _fontSize(15px, 15px);
    border: 2px solid $white;
    padding: 5px 10px;
    border-radius: 5px;
    color: $electricBlue;
    margin-right: 15px;
    transition: all 250ms ease-in-out;
  }

  &:hover {
    span {
      background: $white;
      color: $black;
    }
  }
}
