@import "../global/_variables.scss";
@import "../global/_mixins.scss";

@mixin _scrolledHeights {
  .top {
    height: 85px;
  }

  .logo {
    p {
      @include _fontSize(30px, 30px);
    }
  }
}

._ {
  height: 60px;
  background: $offBlack;
  a {
    color: white;
  }

  &.scrolled {
    border-bottom: 1px solid $white;
  }

  @include _minWidthMobile {
    height: 80px;

    &.scrolled {
      height: 60px;

      .inner {
        height: 60px;
      }
      .logo {
        p {
          @include _fontSize(40px, 40px);

          &:hover {
            text-shadow: 5px 5px 0px $red, 10px 10px 0px rgba(40, 40, 40, 0.5);
          }
        }
      }
    }
  }
}

.inner {
  height: 60px;
  background: $offBlack;
  height: 60px;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid $offBlack;
  transition: all 250ms ease-in-out;
  @include _minWidthMobile {
    height: 80px;
  }
}
.container {
  @include _container;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  cursor: pointer;
  margin-right: 100px;

  p {
    @include _skew;
    @include _fontSize(50px, 50px);
    color: $white;
    @include _headingFont;
    text-shadow: 3px 3px 0px $red, 6px 6px 0px rgba(0, 0, 0, 0.7);
    transition: all 250ms ease-in-out;

    &:hover {
      text-shadow: 6px 6px 0px $red, 12px 12px 0px rgba(40, 40, 40, 0.5);
    }
  }
}
