@import "../global/_variables.scss";
@import "../global/_mixins.scss";

.site_loader {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: $offBlack;
}

.site_loader__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    li {
      margin: 0px 20px;

      position: relative;

      &:nth-of-type(2) {
        top: -13px;
      }

      &:nth-of-type(3) {
        top: -26px;
      }
    }
  }
  p {
    @include _skew;
    @include _fontSize(120px, 90px);
    color: $white;
    @include _headingFont;
    text-shadow: 4px 4px 0px $red, 8px 8px 0px rgba(0, 0, 0, 0.7);
  }
}
