@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
}

.list {
  @include _verticalPadding(30px, 0px);
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  flex: 0 0 45.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  margin-right: 5%;

  &:nth-of-type(2n) {
    margin-right: 0%;
  }

  @include _minWidthSmall {
    flex: 0 0 30.8%;
    margin-right: 2.5%;

    &:nth-of-type(2n) {
      margin-right: 2.5%;
    }

    &:nth-of-type(3n) {
      margin-right: 0%;
    }
  }

  @include _minWidthTablet {
    flex: 0 0 18%;
    margin-right: 2.5%;

    &:nth-of-type(3n) {
      margin-right: 2.5%;
    }

    &:nth-of-type(5n) {
      margin-right: 0%;
    }
  }

  p {
    margin-top: 15px;
    text-align: center;
    @include _fontSize(18px, 18px);
    @include _headingFont;
  }
}

.list__item__icon {
  height: 100px;
  svg {
    height: 20vw;
    width: 40vw;
    fill: white;
  }

  @include _minWidthXSmall {
    svg {
      height: 100%;
      width: auto;
    }
  }
}
