@import "@/assets/styles/global/_variables.scss";
@import "@/assets/styles/global/_mixins.scss";

._ {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;

  p,
  button {
    color: black;
  }
}

.wrapper {
  display: flex;
  padding-top: 45px;
  height: 100%;
  background: $mediumGrey;
}

.detail {
  flex: 0 0 300px;
  background: $white;
  padding: 10px;
  border-left: 1px solid $mediumGrey;
  width: 300px;
  overflow: hidden;
  position: relative;
}
.list_wrap {
  flex: 1;
  height: 100%;
  overflow: scroll;
  background: $white;
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px;
  justify-content: center;
}

.list__item {
  flex: 0 0 175px;
  height: 175px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  @include _hoverAnimation;
  border: 2px solid transparent;
  &.selected {
    border: 2px solid $adminBlue;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  path {
    fill: $white;
  }
}

.delete {
  display: flex;
  align-items: center;
  span {
    color: $errorRed;
    display: flex;
    align-items: center;
  }
  svg {
    padding: 5px;

    path {
      fill: $errorRed;
    }
  }
}

.select {
  display: flex;
  align-items: center;
  span {
    color: blue;
    display: flex;
    align-items: center;
  }
  svg {
    padding: 5px;

    path {
      fill: blue;
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail img {
  width: 100%;
}

.preview {
  input {
    cursor: text;
    color: #666;
    background: white;
  }
}
.search_input {
  color: $black;
}
