@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
  .title {
    h1 {
      text-align: center;
      margin: 100px auto 150px;
      text-shadow: 3px 3px 0px #931616, 6px 6px 0px rgba(0, 0, 0, 0.7);
      transition: all 250ms ease-in-out;
      transform: skew(0deg, -8deg);
      @include _fontSize(60px, 70px);
    }
  }
}

.subtitle {
  border-bottom: 1px solid $white;
  margin-bottom: 50px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 60px;
    width: 50%;
    transform: translate(0, 102%);
    border-left: 1px solid $white;
    background: $black;
  }
  h2 {
    text-align: center;
  }

  @include _minWidthSmall {
    h2 {
      text-align: left;
    }
    &:after {
      transform: translate(0, 100%);
      height: 58px;
      width: 73px;
    }
  }

  @include _minWidthMobile {
    &:after {
      width: 100px;
    }
  }
}

.container {
  @include _container;
  @include _verticalPadding(50px, 50px);
}

.bio {
  @include _verticalMargin(50px, 100px);

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include _minWidthMobile {
    padding: 50px;
  }
}

.bio__inner {
  display: flex;
  flex-direction: column-reverse;

  @include _minWidthSmall {
    flex-direction: row;
  }
}

.bio__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @include _minWidthSmall {
    display: block;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  @include _minWidthMobile {
    flex: 0;
    margin-left: 80px;
  }
}

.avatar {
  height: 150px;
  width: 150px;
  border: 1px solid $white;
  overflow: hidden;
  background: $white;
  position: relative;

  padding: 5px;
  background: $black;

  & > div {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  @include _minWidthMobile {
    height: 200px;
    width: 200px;
  }
}

.bio__excerpt {
  margin-top: 0px;
  @include _minWidthMobile {
    flex: 1;
    width: 50%;
  }
}

.cta {
  margin-top: 20px;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
}
