@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
  h1 {
    color: $white;
    margin-bottom: 0px;
  }
}

.container {
  @include _container;
  @include _verticalPadding(50px, 50px);
}

.bio {
  @include _verticalMargin(0px, 30px);

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include _minWidthMobile {
    padding: 50px;
    display: flex;
    @include _verticalMargin(50px, 100px);
  }
}

.bio__avatar {
  @include _minWidthMobile {
    flex: 0;
    margin-right: 80px;
  }
}
.avatar {
  width: 60vw;
  height: 60vw;
  border: 4px solid $white;
  overflow: hidden;
  background: $white;
  position: relative;
  margin: 0px auto;

  & > div {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  @include _minWidthMobile {
    height: 200px;
    width: 200px;
  }
}

.bio__excerpt {
  margin-top: 50px;

  @include _minWidthMobile {
    margin-top: 0px;
    flex: 1;
    width: 50%;
  }
}
.experience {
  @include _minWidthMobile {
    margin-top: 200px;
  }
}

.experience__list {
  @include _minWidthMobile {
    padding: 50px 30px 0px 0px;
  }
}

.experience__list__item {
  @include _verticalMargin(0px, 80px);

  @include _minWidthMobile {
    display: flex;
    @include _verticalMargin(0px, 120px);
  }
}

.experience__list__item__left {
  flex: 0;
}

.experience__list__item__logo {
  height: 200px;
  width: 200px;
  border: 4px solid $white;
  overflow: hidden;
  background: $white;
  position: relative;
  margin-bottom: 15px;

  & > div {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  @include _minWidthMobile {
    left: 50px;
    top: -30px;
  }
}

.experience__list__item__right {
  flex: 1;
  @include _border(1px, 30px);

  @include _minWidthMobile {
    @include _border(1px, 0px);
    padding: 50px 30px 50px 100px;
  }
}

.skills {
}

.skills__list {
  @include _verticalPadding(30px, 0px);
  display: flex;
  flex-wrap: wrap;
}

.skills__list__item {
  flex: 0 0 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

  &:not(:nth-child(5n)) {
    margin-right: 2.5%;
  }

  @include _minWidthXSmall {
    flex: 0 0 30.8%;
  }
  @include _minWidthMobile {
    flex: 0 0 18%;
  }

  p {
    margin-top: 15px;
  }
}

.skills__list__item__icon {
  height: 100px;
  svg {
    height: 100%;
    width: auto;
    fill: white;
  }
}
