@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
}

.intro {
  margin: 100px auto;
}
.container {
  @include _container;
  @include _verticalPadding(50px, 50px);
}

.list {
  @include _verticalPadding(30px, 0px);
  display: flex;
  flex-wrap: wrap;

  @include _minWidthSmall {
    margin-left: 30px;
  }
}

.list__item {
  flex: 1 1 100%;

  &:hover {
    .list__item__logo {
      border-color: $red;
    }
    .list__item__content {
      border-color: $red;

      &::after {
        border-color: $red;
      }

      h2 {
        text-shadow: 4px 4px 0px $red, 8px 8px 0px rgba(0, 0, 0, 0.7);
      }
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @include _verticalMargin(0px, 80px);

  @include _minWidthSmall {
    flex: 0 0 48%;
    margin-right: 4%;
    &:nth-child(2n) {
      margin-right: 0%;
    }
  }

  @include _minWidthTablet {
    flex: 0 0 30%;
    margin-right: 5%;

    &:nth-child(2n) {
      margin-right: 5%;
    }

    &:nth-child(3n) {
      margin-right: 0%;
    }
  }
}

.list__item__logo {
  height: 60vw;
  width: 100%;
  overflow: hidden;
  background: $black;
  position: relative;
  z-index: 1;
  transition: 250ms ease-in-out;

  & > div {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include _minWidthSmall {
    height: 200px;
    width: 200px;
    border: 2px solid $white;
  }
}

.list__item__content {
  position: relative;
  flex: 1;
  text-align: right;
  padding-top: 30px;
  transition: 250ms ease-in-out;

  h2 {
    font-size: $h2-size;
    transition: all 250ms ease-in-out;
    text-shadow: 4px 4px 0px $black, 8px 8px 0px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }

  h3 {
    @include _fontSize(28px, 28px);
  }

  p {
    margin-bottom: 30px;
    @include _fontSize(18px, 20px);
    text-align: left;
  }

  @include _minWidthSmall {
    margin-right: 30px;

    h2 {
      text-align: right;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: 120px;
      width: 70%;
      background: $black;
      transform: translate(0px, -101%);
      z-index: 0;
      border-right: 2px solid $white;
      border-top: 2px solid $white;
      transition: 250ms ease-in-out;
    }
  }
}

.date {
  // position: absolute;
  // top: 0px;
  // right: 30px;
  @include _headingFont;
  @include _fontSize(28px, 28px);
}
