@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
  h1 {
    text-align: center;
  }
}

.container {
  @include _container;
  @include _verticalPadding(50px, 50px);
}

.heading {
  margin-top: 50px;

  @include _minWidthMobile {
    padding: 0px 100px;
  }
}

.hero_image {
  height: 400px;
  width: 100%;
  position: relative;
  margin: 80px 0px;

  & > img {
    background-size: cover;
    background-position: center center;
  }

  @include _minWidthMobile {
    padding: 0px 50px;
  }
}

.content {
  @include _styledList;

  @include _minWidthMobile {
    padding: 0px 100px;
  }
}

.date {
  margin-top: 20px;
  text-align: center;
}

.back_to_blog {
  margin-top: 80px;
}

.categories {
  margin-top: 50px;
}

.categories__tag {
  @include _fontSize(15px, 15px);
  border: 1px solid $white;
  padding: 5px 10px;
  border-radius: 5px;
  color: $electricBlue;
  margin-right: 15px;
  transition: all 250ms ease-in-out;

  &:hover {
    background: $white;
    color: $black;
  }
}
