@import "../global/_variables.scss";
@import "../global/_mixins.scss";

._ {
  h1 {
    color: $white;
  }
}

.container {
  @include _container;
  @include _verticalPadding(50px, 50px);
}

.project {
  // @include _verticalPadding(0px, 50px);
  // background: blue;
}

.project__list {
  @include _verticalPadding(30px, 0px);
  display: flex;
  flex-wrap: wrap;
}

.project__list__item {
  flex: 1 1 100%;

  @include _verticalMargin(0px, 80px);
  @include _border(1px, 15px);

  @include _minWidthSmall {
    flex: 0 0 48%;
    margin-right: 4%;
    &:nth-child(2n) {
      margin-right: 0%;
    }
  }

  @include _minWidthMobile {
    flex: 0 0 31.3%;
    margin-right: 3%;

    &:nth-child(2n) {
      margin-right: 3%;
    }

    &:nth-child(3n) {
      margin-right: 0%;
    }
  }
}

.project__list__item__logo {
  height: 60vw;
  width: 100%;
  overflow: hidden;

  & > div {
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
  }
  @include _minWidthSmall {
    height: 30vw;
  }

  @include _minWidthMobile {
    height: 15vw;
  }
}

.project__list__item__content {
  margin-top: 20px;
}
