@import "@/assets/styles/global/_variables.scss";
@import "@/assets/styles/global/_mixins.scss";

._ {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 400px;
  background: $white;
  border-right: 4px solid grey;
}

.content {
  padding: 20px;
}

.toggle,
.save {
  display: block;
  border: 1px solid black;
  color: black;
}

.logout_button {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 0px;
  background: white;

  button {
    color: red;
  }
}
